

.container{
    background: rgb(146,199,232);
    background: linear-gradient(90deg, rgba(146,199,232,1) 0%, rgba(102,228,206,0.9318102240896359) 95%);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row: auto;
    color:white;
    font-size: 18px;
    font-weight: bold;
}

span{
    color:red;
}

img{
    width:200px;
}